body{
    height: 100vh;
    perspective: 1500px;
    perspective-origin: top;
    margin-left: 4rem ;
    background-color: rgb(146, 59, 8);

}

.cuerpo{
  background-image: linear-gradient(to right, rgb(6, 129, 47), rgb(216, 197, 27));
  width: 1798px;
  margin-left: -60px;
}



.footer{
    padding-top: 400px;

  }



.movimiento{
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    animation: rotar 5s infinite linear;
    position: relative;
    margin-left: 2rem;
}

#cara1{
    position: absolute;
    height:100%;
    width: 100%;
    background-color: rgb(235, 4, 4);
    transform: translateZ(-100px);
}

#cara2{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(204, 0, 255);
    transform: translateZ(100px);
}

#cara3{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 0, 157);
    transform: translateX(100px) rotateY(90deg);
} 

#cara4{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(76, 0, 255);
    transform: translateX(-100px) rotateY(90deg);
}

#cara5{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transform: translateY(100px) rotateX(90deg);
}

#cara6{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transform: translateY(-100px) rotateX(90deg);
}


@keyframes rotar {
    from{ transform: rotateY(0deg);
    }
    to{ 
        transform:rotateY(360deg) ;
    }

